/*Smartphones*/
@media (min-width: 320px) {
    h1 {
        font-size: 1.5em;
    }
}

/*Tablets*/
@media (min-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .general-container {
        width: 690px;
        margin-left: 10px;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    body {
        width: 80vw;
    }
    .general-container {
        margin-left: 50px;
        width: 900px;
    }
    .general-container .title .icon {
        width: 30px;
        margin-right: 10px;
    }
}

/*Large Screens*/
@media (min-width: 2560px) {
    body {
        width: 60vw;
    }
}


