main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-producto-mobile {
    margin-bottom: 0px;
    margin-top: 0px;
    color: #222231;
}

.titulo-producto-desktop {
    margin-bottom: 17px;
    margin-top: 10px;
}

.imagen-producto {
    display: block;
    width: 100%;
    margin: auto;
}

.product-cost-box {
    padding: 20px;
    position: relative;
}

span.texto {
    margin-top: 11px;
    margin-bottom: 11px;
    color: black;
}

.precio {
    margin: 0;
    font-size: 17px;
    margin-bottom: 17px;
    margin-top: 10px;
}

.cuotas {
    color: #00a650;
    font-weight: 600;
    margin-top: 17px;
    ;
}

.label-color {
    font-family: 'Raleway', sans-serif;
}

.select-color {
    font-family: 'Raleway', sans-serif;
    padding: 3px;
    border: solid rgb(197 194 194) 1px;
    border-radius: 5px;
}

#truck {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    box-sizing: border-box;
}

.envio {
    color: #39b54a;
    font-weight: 600;
    margin-top: 11px;
    margin-bottom: 11px;
}

.product-caract-box,
.product-descr-box {
    margin-top: 20px;
    border-top: 1px solid #e4e3e3;
    padding: 20px;
    color: black;
}

.product-descr-box {
    text-align: justify;
}

.product-caract-box ul {
    padding-left: 25px;
}

li.caracteristicas {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    color: black;
}

.subtitle-descripcion,
.subtitle-caracteristicas {
    color: black;
    margin-top: 10px;
    font-size: 19px;
}

.subtitle-caracteristicas {
    margin-bottom: 25px;
}

.admin-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly
}

button {
    background-color: transparent;
}

.separador {
    border-bottom: 1px solid #e4e3e3;
    margin: 15px 0px 0px 0;
    padding-bottom: 15px;
    width: 100%;
    overflow: auto;
}

.label {
    font-size: 19px;
    font-weight: 600;
    text-decoration: underline;
    margin-right: 20px;
    text-underline-offset: 2px;
}

.color ul {
    margin: 17px 0 0px 0;
}

.product-detail-main-container {
    padding-left: 4%;
    padding-right: 4%;
}

p.texto {
    color: black;
}

.right-box,
.product-caract-box,
.product-descr-box {
    background-color: white;
    box-shadow: 0px 5px 10px #888888;
    border-radius: 10px;
}

.main-section img.icon {
    width: 20px;
    margin-right: 10px;
}

.titulo-producto-mobile {
    font-size: 1.3em;
}

/* ---------------------Estilos Carrusel -- Inicio */
#carrusel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #888888;
}

#carrusel img {
    border-radius: 10px;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

/* Ocultar imagenes por defecto */
.mySlides {
    display: none;
}

/* Flechas siguiente y atras */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    color: #FF6700;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 0 0 5px;
    user-select: none;
    border: none;
}

.next {
    right: 0;
    border-radius: 0 5px 5px 0;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slideshow-container img {
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: flex;
}

.main-top-section {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ------------ Estilos Carrusel -- Fin */