/*Smartphones*/
@media (min-width: 320px) {
    h1 {
        font-size: 1.5em;
    }
}

/*Tablets*/
@media (min-width: 768px) {
    .general-container {
        width: 65%;
        margin-left: 250px;
    }
    h1 {
        font-size: 2em;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    body {
        width: 75vw;
    }
    .general-container {
        width: 73%;
    }
    .general-container .title .icon {
        width: 30px;
        margin-right: 10px;
    }
}

/*Large Screens*/
@media (min-width: 2560px) {
    body {
        width: 60vw;
    }
    .general-container {
        width: 90%;
    }
}


